*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    //background-image: url('/assets/svg/background.svg');
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
}

h3{
    font-size: 1rem;
    letter-spacing: 0.3rem;
    margin-top: 2rem;
    font-weight: 700;
    color: rgb(24, 24, 24);
    text-transform: uppercase; 
}

img{
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

// body{
//     background-color: black;
//     overflow: hidden;
//     height: 100vw;
// }


i{
    position: absolute;
    height: 200px;
    background: linear-gradient(transparent, #fff);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: animate 5s linear infinite;
}

i:nth-child(3n+1){
    background: linear-gradient(transparent, rgb(66, 27, 45));
}

i:nth-child(3n+2){
    background: linear-gradient(transparent, rgb(238, 234, 236));
}

@keyframes animate {
    0%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(calc(100vh + 200px));
    }
}

.div-container{
    max-width: 700px;
}

.h3-title{
    font-size: 3rem;
    letter-spacing: 0.8rem;
    margin-top: 4rem;
    color: rgb(24, 24, 24);
    text-transform: uppercase;
}

.div-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-radius: 5px;
    box-shadow: 0 0 2rem rgb(207, 207, 207);
    background-color: rgb(255, 255, 255);
}

.div-card{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
}

.div-text-input{
    text-align: center;
}

[data-anime]{
    opacity: 0;
    transition: .3s;
}

[data-anime="left"]{
    transform: translate3d(-100px, 0, 0);
}

[data-anime="right"]{
    transform: translate3d(100px, 0, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
    