<body>
    <div class="div-container">
        <div class="div-center">
            <div class="div-card">
                <div class="div-text-input">
                    <h3>
                        by wes
                    </h3>
                    <h1 class="h3-title">
                        Build the  Future
                    </h1>
                </div>
                <img src="assets/imagens/biuld.jpg">
            </div>

            <div class="div-card">
                <div class="div-text-input">
                    <h3>
                        by wes
                    </h3>
                    <h1 class="h3-title">
                        Build the  Future
                    </h1>
                </div>
                <img src="assets/imagens/biuld.jpg">
            </div>

            <div class="div-card" data-anime="left">
                <div class="div-text-input">
                    <h3>
                        by wes
                    </h3>
                    <h1 class="h3-title">
                        Build the  Future
                    </h1>
                </div>
                <img src="assets/imagens/biuld.jpg">
            </div>

            <div class="div-card" data-anime="left">
                <div class="div-text-input">
                    <h3>
                        by wes
                    </h3>
                    <h1 class="h3-title">
                        Build the  Future
                    </h1>
                </div>
                <img src="assets/imagens/biuld.jpg">
            </div>

            <div class="div-card" data-anime="right">
                <div class="div-text-input">
                    <h3>
                        by wes
                    </h3>
                    <h1 class="h3-title">
                        Build the  Future
                    </h1>
                </div>
                <img src="assets/imagens/biuld.jpg">
            </div>

            <div class="div-card" data-anime="right">
                <div class="div-text-input">
                    <h3>
                        by wes
                    </h3>
                    <h1 class="h3-title">
                        Build the  Future
                    </h1>
                </div>
                <img src="assets/imagens/biuld.jpg">
            </div>
        </div>
    </div>
</body>