<!-- <div class="div-flex">
    <div>
        <img src="assets/imagens/lobo1.jpg">
        <p>Lobos flexíveis</p>
    </div>
    <div>
        <img src="assets/imagens/lobo2.jpg">
        <p>Lobos flexíveis</p>
    </div>
    <div>
        <img src="assets/imagens/lobo3.jpg">
        <p>Lobos flexíveis</p>
    </div>
    <div>
        <img src="assets/imagens/lobo4.jpg">
        <p>Lobos flexíveis</p>
    </div>
    <div>
        <img src="assets/imagens/lobo1.jpg">
        <p>Lobos flexíveis</p>
    </div>
    <div>
        <img src="assets/imagens/lobo2.jpg">
        <p>Lobos flexíveis</p>
    </div>
    <div>
        <img src="assets/imagens/lobo3.jpg">
        <p>Lobos flexíveis</p>
    </div>
</div> -->

<body> 
    <div class="div-width-img" (click)="teste2()">
        <img class="img-aling" src="assets/svg/Group.svg">
    </div>
</body>
