<!-- SELECIONAR OS FILHOS DE UM ELEMENTO -->

<!-- <body>
    <div class="div">
        <p>Este parágrafo está selecionado pelo seletor universal</p>
        <p>Este parágrafo está selecionado pelo seletor universal</p>
        <p>Este parágrafo está selecionado pelo seletor universal</p>
        <div>Este é uma div</div>
        <p>Este parágrafo está selecionado pelo seletor universal</p>
        <p>Este parágrafo está selecionado pelo seletor universal</p>
        <p>Este parágrafo está selecionado pelo seletor universal</p>
    </div>
</body> -->



<!-- SELECIONAR POR DESCENDÊNCIA -->

<!-- <body>
    <div class="div-1">
        <p>Este é um paragrafo</p>
        <div class="div-2">
            <p>Este é um paragrafo dentro de uma div</p>
            <div class="div-3">
                <p>Este é um paragrafo dentro de uma div</p>
            </div>
        </div>
    </div>
</body> -->




<!-- SELECIONAR POR ATRIBUTO -->

<!-- <body>
    <div>
        <p id="par-id">Este é um paragrafo</p>
        <p id="par-id">Este é um paragrafo</p>
        <div>
            <a class="teste" href="https://www.duolingo.com/learn">Link</a>
            <a href="https://www.duolingo.com/learn">Link</a>
            <a href="https://www.duolingo.com">Link</a>
            <a href="https://mail.google.com/mail/">Link</a>
        </div>
    </div>
</body> -->




<!-- SELECIONAR POR PSEUDO-ELEMENTO -->

<!-- <body>
    <div>
        <p class="par">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi et minus accusamus sit 
            tenetur incidunt blanditiis voluptatem dignissimos quam nemo, suscipit, voluptates 
            fugit perferendis laudantium! Itaque deleniti id fuga veniam!
        </p>
    </div>
</body> -->




<!-- SELECIONAR NTH-CHILD e NOT-->
<body>
    <p>Parágrafo 1</p>
    <p>Parágrafo 2</p>
    <p class="exeto">Parágrafo 3</p>
    <p>Parágrafo 4</p>
    <p>Parágrafo 5</p>
    <p>Parágrafo 6</p>
</body>