<body>
    <div class="wrapper">
        <div class="icon facebook">
            <div class="tooltip">Facebook</div>
            <span><img src="assets/svg/Group.svg" ></span>
        </div>
    </div>
    <div class="wrapper">
        <div class="icon facebook">
            <div class="tooltip">Facebook</div>
            <span><img src="assets/svg/Group.svg"></span>
        </div>
    </div>
    <div class="wrapper">
        <div class="icon facebook">
            <div class="tooltip">Facebook</div>
            <span><img class="img" src="assets/svg/Group.svg"></span>
        </div>
    </div>
    <div class="wrapper">
        <div class="icon facebook">
            <div class="tooltip">Facebook</div>
            <span><img src="assets/svg/Group.svg"></span>
        </div>
    </div>
    <div class="wrapper">
        <div class="icon facebook">
            <div class="tooltip">Facebook</div>
            <span><img src="assets/svg/Group.svg"></span>
        </div>
    </div>
</body>